
/* Global default text color and font  */
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    background-color: black;
    /* background: linear-gradient(331deg, rgb(88, 88, 88) 0%, rgb(1, 1, 1) 45%, rgb(48, 47, 47) 100%);
    background-repeat: no-repeat; */

}


/* Appearance and flow of nav bar */
nav {
    display: flex;
    /* background: black; */
    justify-content: flex-end;
    align-items: center;
}

/* Text appearance for navigation bar links */
nav a {
    color: lightgrey;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
  }

/* Navigation bar hover underline effect */
nav a:hover {
    text-decoration-line: underline;
  }

.jaminBack {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(11, 11, 11) 45%, rgb(33, 33, 33) 100%);
    background-repeat: no-repeat;
}

/* A standard setting for section attribute spacing */
section {
    display: flex;
    justify-content: space-around;
}

section a {
    color: lightgrey;
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
}

.resume:hover {
    transform: scale(1.01);
    box-shadow: inset 0px 0px 8px white, 0 0 15px white;
  }

/* Media section that helps displays on smaller resolutions and devices */
@media all and (max-width: 768px) {
    header, footer, main, section, article, nav, p {
        justify-content: center;
        margin: 0; 
        padding: 0; 
        font-size:14px;
    }
    /* reduces size of headings */
    h1 {
        font-size: 18px;
        justify-content: center;

    }
    h2, h3, h4, a {
        font-size:12px;
    }
}

/* Media section that helps displays on even smaller resolutions and devices */
/* @media all and (max-width: 425px) {
    header, footer, main, section, article, nav, p, a {
        justify-content: center;
        font-size:10px;
    } */
    /* reduces size of headings even further */
    /* h1 {
        font-size: 16px;
    }
    h2, h3, h4 {
        font-size:14px;
    }
} */